Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{ts,tsx,js,jsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.css": [
		"stylelint --fix"
	],
	"*.{md,mdx}": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

chore: improve editor styles
  src/features/NoteEditor/RichEditor/PlaygroundEditorTheme.css
Due: stylelint --fix

chore: fix type
  src/features/NoteEditor/RichEditor/plugins/EditorPanelPlugin.tsx
Due: prettier --write, eslint --fix

refactor: group buttons
  src/features/NoteEditor/EditorPanel/EditorPanel.tsx
  src/features/NoteEditor/EditorPanel/buttons/HeaderPicker.tsx
  src/features/NoteEditor/EditorPanel/buttons/ImageButton.tsx
  src/features/NoteEditor/EditorPanel/buttons/LinkButton.tsx
Due: prettier --write, eslint --fix

chore: add titles for panel buttons
  src/features/NoteEditor/EditorPanel/EditorPanel.tsx
  src/features/NoteEditor/EditorPanel/buttons/ImageButton.tsx
  src/features/NoteEditor/EditorPanel/buttons/LinkButton.tsx
Due: prettier --write, eslint --fix

feat: toggle editor mode
  src/api/buttons/ButtonsManager.ts
  src/features/NoteEditor/index.tsx
  src/features/NotesContainer/EditorModePicker/EditorModePicker.tsx
  src/features/NotesContainer/EditorModePicker/Popper.tsx
  src/features/NotesContainer/index.tsx
  src/state/redux/settings/settings.ts
  src/state/redux/store.ts
Due: prettier --write, eslint --fix

feat: save global settings
  package-lock.json
  package.json
  src/state/redux/settings/settings.ts
  src/windows/main/renderer.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: support resource images
  src/features/NoteEditor/RichEditor/nodes/ImageComponent/ImageComponent.tsx
Due: prettier --write, eslint --fix

chore: open links in external browser
  src/electron/requests/interactions/main.ts
  src/electron/utils/shell.ts
  src/windows/main/main.ts
Due: prettier --write, eslint --fix

chore: disable sandbox
  package.json
Due: prettier --write --parser json

feat: support app attachments for rich editor
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/RichEditor/plugins/AppLinks.tsx
  src/hooks/useUrlOpener.ts
Due: prettier --write, eslint --fix

chore: use url opener hook for monako editor
  src/features/MonakoEditor/features/useEditorLinks.ts
Due: prettier --write, eslint --fix

chore: show loading spinner for images
  src/components/theme/zen.ts
  src/features/NoteEditor/RichEditor/nodes/ImageComponent/ImageComponent.tsx
Due: prettier --write, eslint --fix

chore: prettify
  src/features/NoteEditor/RichEditor/plugins/EditorPanelPlugin.tsx
Due: prettier --write, eslint --fix

chore: disable conflict eslint rule
  .eslintrc
Due: none

feat: implement drop files handling for rich editor
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/RichEditor/plugins/DropFilesPlugin.tsx
  src/features/NoteEditor/RichEditor/plugins/EditorPanelPlugin.tsx
  src/features/NoteEditor/RichEditor/utils/selection.ts
Due: prettier --write, eslint --fix

feat: implement files insertion with file picker
  src/features/NoteEditor/EditorPanel/EditorPanel.tsx
  src/features/NoteEditor/EditorPanel/index.tsx
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/RichEditor/plugins/DropFilesPlugin.tsx
Due: prettier --write, eslint --fix

chore: update ts version
  package-lock.json
  package.json
Due: prettier --write --parser json

refactor: split code to files
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/RichEditor/RichEditorContentProps.tsx
Due: prettier --write, eslint --fix

chore: move placeholder to props
  src/features/NoteEditor/RichEditor/RichEditorContentProps.tsx
  src/features/NoteEditor/index.tsx
Due: prettier --write, eslint --fix

refactor: split rich editor code
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/RichEditor/RichEditorContent.tsx
  src/features/NoteEditor/RichEditor/plugins/MarkdownSerializePlugin.tsx
Due: prettier --write, eslint --fix

chore: delete unused plugins
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/RichEditor/RichEditorContent.tsx
  src/features/NoteEditor/RichEditor/plugins/LinkClickHandlerPlugin.tsx
Due: prettier --write, eslint --fix

feat: use code highlight plugin
  src/features/NoteEditor/RichEditor/PlaygroundEditorTheme.css
  src/features/NoteEditor/RichEditor/RichEditorContent.tsx
  src/features/NoteEditor/RichEditor/plugins/CodeHighlightPlugin.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor: rename theme
  src/features/NoteEditor/RichEditor/PlaygroundEditorTheme.ts
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/RichEditor/theme/RichEditorTheme.css
  src/features/NoteEditor/RichEditor/theme/RichEditorTheme.ts
  src/features/NoteEditor/RichEditor/theme/common.css
Due: prettier --write, eslint --fix, stylelint --fix

chore: update code theme
  src/features/NoteEditor/RichEditor/theme/RichEditorTheme.css
Due: stylelint --fix

refactor: define rich editor colors in chakra provider
  src/features/NoteEditor/RichEditor/RichEditorContent.tsx
  src/features/NoteEditor/RichEditor/theme/RichEditorTheme.ts
Due: prettier --write, eslint --fix

refactor: rename editor theme
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/RichEditor/RichEditorContent.tsx
  src/features/NoteEditor/RichEditor/theme/RichEditor.css
  src/features/NoteEditor/RichEditor/theme/RichEditor.ts
  src/features/NoteEditor/RichEditor/theme/RichEditorTheme.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: move commons editor styles to component
  src/features/NoteEditor/RichEditor/RichEditorContent.tsx
  src/features/NoteEditor/RichEditor/theme/RichEditor.ts
  src/features/NoteEditor/RichEditor/theme/common.css
Due: prettier --write, eslint --fix, stylelint --fix

refactor: make theme for rich editor
  src/components/theme/basic.ts
  src/features/NoteEditor/RichEditor/RichEditor.theme.ts
  src/features/NoteEditor/RichEditor/RichEditorContent.tsx
Due: prettier --write, eslint --fix

refactor: group image files
  src/features/NoteEditor/RichEditor/ContextMenu/GenericContextMenu.tsx
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/RichEditor/RichEditorContent.tsx
  src/features/NoteEditor/RichEditor/plugins/DropFilesPlugin.tsx
  src/features/NoteEditor/RichEditor/plugins/EditorPanelPlugin.tsx
  src/features/NoteEditor/RichEditor/plugins/Image/ImageComponent.tsx
  src/features/NoteEditor/RichEditor/plugins/Image/ImageNode.tsx
  src/features/NoteEditor/RichEditor/plugins/Image/ImagesPlugin.tsx
  src/features/NoteEditor/RichEditor/plugins/markdownParser.ts
Due: prettier --write, eslint --fix

refactor: group markdown entities
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/RichEditor/RichEditorContent.tsx
  src/features/NoteEditor/RichEditor/plugins/EditorPanelPlugin.tsx
  src/features/NoteEditor/RichEditor/plugins/FormattingPlugin.ts
  src/features/NoteEditor/RichEditor/plugins/Markdown/MarkdownSerializePlugin.tsx
  src/features/NoteEditor/RichEditor/plugins/Markdown/MarkdownShortcutPlugin.tsx
  src/features/NoteEditor/RichEditor/plugins/Markdown/markdownParser.ts
  src/features/NoteEditor/RichEditor/plugins/Markdown/nodes/FormattingNode.tsx
  src/features/NoteEditor/RichEditor/plugins/Markdown/nodes/RawNode.tsx
Due: prettier --write, eslint --fix

refactor: move context menu to plugins
  src/features/NoteEditor/EditorPanel/buttons/ImageButton.tsx
  src/features/NoteEditor/EditorPanel/buttons/LinkButton.tsx
  src/features/NoteEditor/RichEditor/RichEditorContent.tsx
  src/features/NoteEditor/RichEditor/plugins/ContextMenu/ContextMenuPlugin.tsx
  src/features/NoteEditor/RichEditor/plugins/ContextMenu/components/GenericContextMenu.tsx
  src/features/NoteEditor/RichEditor/plugins/ContextMenu/components/ObjectPropertiesEditor.tsx
Due: prettier --write, eslint --fix

chore: split formatting plugin code
  src/features/NoteEditor/RichEditor/RichEditorContent.tsx
  src/features/NoteEditor/RichEditor/plugins/Formatting/FormattingPlugin.ts
  src/features/NoteEditor/RichEditor/plugins/Formatting/utils.ts
Due: prettier --write, eslint --fix

chore: remove update inside command handler
  src/features/NoteEditor/RichEditor/plugins/Formatting/FormattingPlugin.ts
Due: prettier --write, eslint --fix

fix: wrap dropped elements to paragraph
  src/features/NoteEditor/RichEditor/plugins/DropFilesPlugin.tsx
Due: prettier --write, eslint --fix

fix: wrap image in paragraph for insert into root
  src/features/NoteEditor/RichEditor/plugins/EditorPanelPlugin.tsx
Due: prettier --write, eslint --fix

refactor: move utils
  src/features/NoteEditor/RichEditor/RichEditorContent.tsx
  src/features/NoteEditor/RichEditor/plugins/EditorPanelPlugin/EditorPanelPlugin.tsx
  src/features/NoteEditor/RichEditor/plugins/EditorPanelPlugin/utils/format.tsx
  src/features/NoteEditor/RichEditor/plugins/EditorPanelPlugin/utils/insertion.tsx
Due: prettier --write, eslint --fix

chore: remove debug prints
  src/features/NoteEditor/RichEditor/plugins/EditorPanelPlugin/EditorPanelPlugin.tsx
  src/features/NoteEditor/RichEditor/plugins/EditorPanelPlugin/utils/insertion.tsx
Due: prettier --write, eslint --fix

chore: change commands priority
  src/features/NoteEditor/RichEditor/plugins/DropFilesPlugin.tsx
  src/features/NoteEditor/RichEditor/plugins/Formatting/FormattingPlugin.ts
  src/features/NoteEditor/RichEditor/plugins/Image/ImagesPlugin.tsx
Due: prettier --write, eslint --fix

refactor: move files insertion logic to hook
  src/features/NoteEditor/RichEditor/plugins/DropFilesPlugin.tsx
  src/features/NoteEditor/RichEditor/plugins/EditorPanelPlugin/EditorPanelPlugin.tsx
  src/features/NoteEditor/RichEditor/plugins/useInsertFiles.tsx
Due: prettier --write, eslint --fix

refactor: group files features
  src/features/NoteEditor/RichEditor/RichEditorContent.tsx
  src/features/NoteEditor/RichEditor/plugins/EditorPanelPlugin/EditorPanelPlugin.tsx
  src/features/NoteEditor/RichEditor/plugins/Files/DropFilesPlugin.tsx
  src/features/NoteEditor/RichEditor/plugins/Files/FilesPlugin.tsx
  src/features/NoteEditor/RichEditor/plugins/Files/useInsertFiles.tsx
Due: prettier --write, eslint --fix
