Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

chore: update ghost color
  src/components/theme/alternative.ts
Due: prettier --write, eslint --fix

chore: move padding to markdown container
  src/features/NoteScreen/index.tsx
Due: prettier --write, eslint --fix

chore: improve basic style
  src/components/theme/basic.ts
Due: prettier --write, eslint --fix

chore: improve alternative theme primary color
  src/components/theme/alternative.ts
Due: prettier --write, eslint --fix

feat: change theme with localstorage
  src/components/theme/index.tsx
  src/components/theme/zen.ts
Due: prettier --write, eslint --fix

chore: remove alias
  src/features/MainScreen/NotificationsPopup/NotificationsPopup.tsx
Due: prettier --write, eslint --fix

feat: prevent auto close for notifications
  src/features/MainScreen/NotificationsPopup/NotificationsPopup.tsx
Due: prettier --write, eslint --fix

chore: exclude tmp dir from linting
  .eslintignore
Due: none

chore: fix texts
  src/features/ProfileSettings/ProfileSettings.tsx
Due: prettier --write, eslint --fix

chore: consistent style for pressed button
  src/components/theme/basic.ts
Due: prettier --write, eslint --fix

feat: add rich editor
  package-lock.json
  package.json
  src/features/NoteEditor/RichEditor/PlaygroundEditorTheme.css
  src/features/NoteEditor/RichEditor/PlaygroundEditorTheme.ts
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/RichEditor/plugins/MarkdownChecklistShortcutPlugin.ts
  src/features/NoteEditor/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser json

chore: better support for checkboxes
  src/features/NoteEditor/RichEditor/RichEditor.tsx
Due: prettier --write, eslint --fix

chore: fix placeholder
  src/features/NoteEditor/RichEditor/RichEditor.tsx
Due: prettier --write, eslint --fix

feat: make rich editor controllable
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/index.tsx
Due: prettier --write, eslint --fix

feat: support images
  src/features/NoteEditor/RichEditor/PlaygroundEditorTheme.ts
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/RichEditor/common.css
  src/features/NoteEditor/RichEditor/nodes/ImageComponent/ImageComponent.tsx
  src/features/NoteEditor/RichEditor/nodes/ImageComponent/ImagePropertiesPicker.tsx
  src/features/NoteEditor/RichEditor/nodes/ImageNode.tsx
  src/features/NoteEditor/RichEditor/plugins/ImagesPlugin.tsx
  src/features/NotesContainer/index.tsx
  src/windows/main/renderer.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: use MD AST for markdown
  package-lock.json
  package.json
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/RichEditor/plugins/markdownParser.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: ensure unsupported text will not be lost
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/RichEditor/nodes/RawTextNode.tsx
  src/features/NoteEditor/RichEditor/plugins/markdownParser.ts
Due: prettier --write, eslint --fix

fix: skip paragraphs with only empty text
  src/features/NoteEditor/RichEditor/plugins/markdownParser.ts
Due: prettier --write, eslint --fix

feat: support headings
  src/features/NoteEditor/RichEditor/plugins/markdownParser.ts
Due: prettier --write, eslint --fix

feat: support links
  src/features/NoteEditor/RichEditor/plugins/markdownParser.ts
Due: prettier --write, eslint --fix

fix: import/export for list elements
  src/features/NoteEditor/RichEditor/plugins/markdownParser.ts
Due: prettier --write, eslint --fix

fix: list with checkboxes
  package-lock.json
  package.json
  src/features/NoteEditor/RichEditor/plugins/markdownParser.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: open image in full screen mode by click
  src/features/NoteEditor/RichEditor/nodes/ImageComponent/ImageComponent.tsx
Due: prettier --write, eslint --fix

fix: list types
  src/features/NoteEditor/RichEditor/plugins/markdownParser.ts
Due: prettier --write, eslint --fix

feat: support code nodes
  src/features/NoteEditor/RichEditor/plugins/markdownParser.ts
Due: prettier --write, eslint --fix

fix: update remark packages
  package-lock.json
  package.json
Due: prettier --write --parser json

feat: support nested formatting nodes
  src/features/NoteEditor/RichEditor/nodes/FormattingNode.tsx
  src/features/NoteEditor/RichEditor/plugins/markdownParser.ts
Due: prettier --write, eslint --fix

chore: support quotes
  .eslintrc
  src/features/NoteEditor/RichEditor/plugins/markdownParser.ts
Due: prettier --write, eslint --fix

chore: support thematic break
  src/features/NoteEditor/RichEditor/plugins/markdownParser.ts
Due: prettier --write, eslint --fix

chore: support tables
  src/features/NoteEditor/RichEditor/plugins/markdownParser.ts
Due: prettier --write, eslint --fix

chore: update frontmatter
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: update rich editor styles
  src/features/NoteEditor/RichEditor/PlaygroundEditorTheme.css
Due: stylelint --fix

chore: rename formatting node
  src/features/NoteEditor/RichEditor/nodes/FormattingNode.tsx
  src/features/NoteEditor/RichEditor/plugins/markdownParser.ts
Due: prettier --write, eslint --fix

chore: make raw node editable
  src/features/NoteEditor/RichEditor/nodes/RawTextNode.tsx
  src/features/NoteEditor/RichEditor/plugins/markdownParser.ts
Due: prettier --write, eslint --fix

chore: rename raw node
  src/features/NoteEditor/RichEditor/nodes/RawNode.tsx
  src/features/NoteEditor/RichEditor/plugins/markdownParser.ts
Due: prettier --write, eslint --fix

chore: use 2 editors at once
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/index.tsx
Due: prettier --write, eslint --fix

feat: implement formatting plugin
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/RichEditor/plugins/FormattingPlugin.ts
Due: prettier --write, eslint --fix

feat: use generic properties editor
  package-lock.json
  package.json
  src/features/NoteEditor/RichEditor/ContextMenu/ContextMenu.tsx
  src/features/NoteEditor/RichEditor/ContextMenu/ObjectPropertiesEditor.tsx
  src/features/NoteEditor/RichEditor/RichEditor.tsx
  src/features/NoteEditor/RichEditor/nodes/ImageComponent/ImageComponent.tsx
  src/features/NoteEditor/RichEditor/nodes/ImageComponent/ImagePropertiesPicker.tsx
  src/features/NoteEditor/RichEditor/nodes/ImageNode.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: improve popup positioning
  package-lock.json
  package.json
  src/features/NoteEditor/RichEditor/ContextMenu/ContextMenu.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: clear context menu code
  src/features/NoteEditor/RichEditor/ContextMenu/ContextMenu.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.css
  prettier --write --parser markdown: any of: *.{md,mdx}
  prettier --write --parser json: any of: *.json
