Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

refactor: use chakra for notes list
  src/features/MainScreen/NotesList/NotesList.css
  src/features/MainScreen/NotesList/index.tsx
  src/features/MainScreen/NotesPanel/index.tsx
  src/features/MainScreen/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: remove unused css files
  src/features/MainScreen/NotesOverview/NotesOverview.css
  src/features/MainScreen/NotesOverview/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: set consistent size for buttons
  src/features/MainScreen/WorkspaceBar/index.tsx
Due: prettier --write, eslint --fix

chore: implement scroll for side panels
  src/components/List/index.tsx
  src/features/MainScreen/NotesOverview/index.tsx
  src/features/MainScreen/index.tsx
Due: prettier --write, eslint --fix

refactor: use chakra for tabs
  src/features/MainScreen/Notes/index.tsx
  src/features/MainScreen/TopBar/index.tsx
  src/features/NoteEditor/index.tsx
  src/features/NotesContainer/index.tsx
Due: prettier --write, eslint --fix

refactor: notes tabs
  src/features/MainScreen/TopBar/index.tsx
Due: prettier --write, eslint --fix

refactor: note viewer interface
  src/features/NoteEditor/index.tsx
Due: prettier --write, eslint --fix

feat: close tab by middle mouse click
  src/features/MainScreen/TopBar/index.tsx
Due: prettier --write, eslint --fix

fix: set key to proper render panes
  src/features/MainScreen/Notes/index.tsx
Due: prettier --write, eslint --fix

refactor: use chackra for note editor
  src/components/theme.tsx
  src/features/NoteEditor/index.tsx
Due: prettier --write, eslint --fix

chore: remove css files
  src/features/NoteEditor/NoteEditor.css
  src/features/NoteEditor/index.tsx
  src/features/NotesContainer/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: allow overflow
  src/features/MainScreen/Notes/Notes.css
  src/features/NotesContainer/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: nested tags list
  src/components/List/index.tsx
Due: prettier --write, eslint --fix

refactor: use chakra in bottom bar
  src/features/MainScreen/StatusBar/StatusBar.css
  src/features/MainScreen/StatusBar/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: remove gap
  src/features/MainScreen/StatusBar/index.tsx
Due: prettier --write, eslint --fix

refactor: use chakra for tag editor
  src/components/TagEditor/index.tsx
Due: prettier --write, eslint --fix

chore: remove unused css
  src/components/TagEditor/TagEditor.css
  src/components/TagEditor/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor: reimplement tags suggest component
  package-lock.json
  package.json
  src/components/SuggestedTagsList/index.tsx
  src/components/TagEditor/index.tsx
  src/features/NoteEditor/index.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: add word to dictionary
  .eslintrc
Due: none

chore: remove unused css file
  src/components/SuggestedTagsList/SuggestedTagsList.css
  src/components/SuggestedTagsList/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor: remove css files
  src/components/List/index.tsx
  src/features/MainScreen/MainScreen.css
  src/features/MainScreen/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: remove gap
  src/features/MainScreen/index.tsx
Due: prettier --write, eslint --fix

chore: fix icons
  src/features/MainScreen/NotesOverview/index.tsx
Due: prettier --write, eslint --fix

refactor: reimplement modal screen
  src/features/ModalScreen/ModalScreen.css
  src/features/ModalScreen/ModalScreen.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor: re-implement modal windows
  src/components/Features/Container/FeaturesContainer.css
  src/components/Features/Container/FeaturesContainer.tsx
  src/components/Features/Features.tsx
  src/components/Features/Header/FeaturesHeader.tsx
  src/components/Features/Option/FeaturesOption.css
  src/components/Features/Option/FeaturesOption.tsx
  src/features/MainScreen/WorkspaceBar/index.tsx
  src/features/ModalScreen/ModalScreen.tsx
  src/features/Preferences/Preferences.css
  src/features/Preferences/Preferences.tsx
  src/features/WorkspaceSettings/WorkspaceSettings.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor: remove react-elegant-ui package
  package-lock.json
  package.json
  src/components/Icon/Icon.bundle/common.tsx
  src/components/Icon/_boxSize/Icon_boxSize.tsx
  src/components/Icon/_hasGlyph/Icon_hasGlyph.tsx
  src/components/Icon/assets/add.svg
  src/components/Icon/assets/clear.svg
  src/components/Icon/assets/edit.svg
  src/components/Icon/assets/expand_more.svg
  src/components/Icon/assets/tag.svg
  src/components/Modal/Modal.bundle/Modal.desktop.ts
  src/components/Modal/_view/Modal_view_screen.css
  src/components/Modal/_view/Modal_view_screen.tsx
  src/components/Spinner/Spinner.css
  src/components/Spinner/index.ts
  src/components/TabsMenu/_view/TabsMenu_view_primary.css
  src/components/TabsMenu/_view/TabsMenu_view_primary.tsx
  src/components/TabsMenu/index.ts
  src/features/App/WorkspaceManager/index.tsx
  src/features/MainScreen/Notes/index.tsx
  src/features/MainScreen/Notifications/Notifications.tsx
  src/features/MainScreen/StatusBar/buttons/ExportButton.tsx
  src/features/NoteScreen/components/Checkbox/index.tsx
  src/features/NoteScreen/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser json

refactor: replace stack component to chakra-ui
  src/components/Stack/Stack.css
  src/components/Stack/Stack.tsx
  src/features/MainScreen/Notifications/Notifications.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix: use placeholder title for note with only invisible chars
  src/core/features/notes/utils.ts
Due: prettier --write, eslint --fix

fix: react warnings
  src/features/MainScreen/Notes/index.tsx
  src/features/MainScreen/WorkspaceBar/index.tsx
  src/features/Preferences/Preferences.tsx
  src/features/WorkspaceSettings/WorkspaceSettings.tsx
Due: prettier --write, eslint --fix

fix: notifications
  src/features/MainScreen/Notifications/Notifications.tsx
Due: prettier --write, eslint --fix

fix: backlinks panel
  src/features/NoteEditor/index.tsx
Due: prettier --write, eslint --fix

refactor: set styles in theme
  src/components/List/index.tsx
  src/components/theme.tsx
  src/features/MainScreen/NotesList/index.tsx
  src/features/MainScreen/TopBar/index.tsx
  src/features/NoteEditor/index.tsx
Due: prettier --write, eslint --fix

feat: move notes list style to theme
  src/components/theme.tsx
  src/features/MainScreen/NotesList/index.tsx
Due: prettier --write, eslint --fix

feat: move list styles to theme
  src/components/List/index.tsx
  src/components/theme.tsx
Due: prettier --write, eslint --fix

refactor: introduce NotePreview component
  src/components/theme.tsx
  src/features/MainScreen/NotesList/NotePreview.tsx
  src/features/MainScreen/NotesList/index.tsx
Due: prettier --write, eslint --fix

refactor: rename nested list
  src/components/NestedList/index.tsx
  src/components/theme.tsx
  src/features/MainScreen/NotesOverview/TagsList/index.tsx
  src/features/MainScreen/NotesOverview/index.tsx
Due: prettier --write, eslint --fix

fix: active tag style
  src/components/theme.tsx
  src/features/MainScreen/NotesPanel/index.tsx
Due: prettier --write, eslint --fix

chore: prettify
  src/features/MainScreen/NotesOverview/TagsList/index.tsx
Due: prettier --write, eslint --fix

chore: remove CSS file
  src/features/MainScreen/TopBar/TopBar.css
  src/features/MainScreen/TopBar/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

chore: remove CSS file
  src/features/App/WorkspaceManager/WorkspaceManager.css
  src/features/MainScreen/Notifications/Notifications.css
  src/features/MainScreen/Notifications/Notifications.tsx
Due: prettier --write, eslint --fix, stylelint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.css
  prettier --write --parser markdown: any of: *.{md,mdx}
  prettier --write --parser json: any of: *.json
