Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

refactor: use command instead redux state
  src/features/App/Workspace/WorkspaceStatusBarItems.tsx
  src/features/App/WorkspaceManager/index.tsx
  src/features/App/index.tsx
  src/features/MainScreen/ActivityBar.tsx
  src/hooks/commands/index.ts
  src/hooks/commands/useCommandCallback.ts
  src/state/redux/profiles/profiles.ts
Due: prettier --write, eslint --fix

refactor: update ui
  src/features/App/WorkspaceManager/ProfileCreator/index.tsx
Due: prettier --write, eslint --fix

refactor: improve screen managing, ui
  src/features/App/WorkspaceManager/index.tsx
  src/features/MainScreen/ActivityBar.tsx
Due: prettier --write, eslint --fix

chore: rename
  src/features/App/WorkspaceManager/ProfileCreator/index.tsx
  src/features/App/WorkspaceManager/index.tsx
Due: prettier --write, eslint --fix

chore: rename
  src/features/App/Workspace/WorkspaceStatusBarItems.tsx
  src/features/App/WorkspaceManager/index.tsx
  src/features/App/index.tsx
  src/features/MainScreen/ActivityBar.tsx
Due: prettier --write, eslint --fix

refactor: use debounce instead custom hook
  src/features/App/WorkspaceManager/index.tsx
  src/features/App/index.tsx
  src/hooks/useShowForMinimumTime.tsx
Due: prettier --write, eslint --fix

chore: update deps
  src/features/App/WorkspaceManager/index.tsx
  src/hooks/useShowForMinimumTime.tsx
Due: prettier --write, eslint --fix

chore: reset state after create
  src/features/App/WorkspaceManager/index.tsx
Due: prettier --write, eslint --fix

chore: update packages
  .eslintignore
  .eslintrc
  .prettierignore
  .stylelintrc
  eslint-local-rules.js
  eslint.config.mjs
  package-lock.json
  package.json
  scripts/webpack/app.ts
  src/core/features/telemetry/StateFile.ts
  src/core/storage/database/pglite/PGLite.worker.ts
  src/features/App/Settings/AppZoomLevel.tsx
  src/features/WorkspaceSettings/WorkspaceSettings.tsx
  src/utils/os/getConfig.ts
  words.txt
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: remove shebang for husky hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: rename
  src/features/App/Profile/index.tsx
  src/features/App/Profiles/index.tsx
  src/features/App/Workspace/WorkspaceStatusBarItems.tsx
Due: prettier --write, eslint --fix

chore: rename
  src/features/App/WorkspaceManager/index.tsx
Due: prettier --write, eslint --fix

chore: use eslint paths/alias rule
  eslint.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: replace confirm
  src/electron/requests/confirm/renderer.ts
  src/features/MainScreen/TagsPanel/index.tsx
  src/features/MonakoEditor/features/useDropFiles.ts
  src/features/NoteEditor/RichEditor/plugins/Files/useInsertFiles.tsx
  src/features/NotesContainer/NoteContextMenu/useNoteContextMenu.ts
  src/features/WorkspaceSettings/WorkspaceSettings.tsx
  src/windows/main/main.ts
  src/windows/main/preload.ts
  src/windows/main/render.d.ts
  src/windows/main/renderer.tsx
Due: prettier --write, eslint --fix

chore: improve dialog style
  src/windows/main/main.ts
Due: prettier --write, eslint --fix

fix: confirm freeze ui, patch function
  src/windows/main/main.ts
  src/windows/main/preload.ts
  src/windows/main/render.d.ts
  src/windows/main/renderer.tsx
Due: prettier --write, eslint --fix

Revert use sync confirm
  src/electron/requests/confirm/index.ts
  src/electron/requests/confirm/main.ts
  src/electron/requests/confirm/renderer.ts
  src/features/MainScreen/TagsPanel/index.tsx
  src/features/MonakoEditor/features/useDropFiles.ts
  src/features/NoteEditor/RichEditor/plugins/Files/useInsertFiles.tsx
  src/features/NotesContainer/NoteContextMenu/useNoteContextMenu.ts
  src/features/WorkspaceSettings/WorkspaceSettings.tsx
  src/windows/main/main.ts
  src/windows/main/preload.ts
  src/windows/main/render.d.ts
  src/windows/main/renderer.tsx
Due: prettier --write, eslint --fix

refactor: use async confirm
  src/electron/requests/confirm/index.ts
  src/electron/requests/confirm/main.ts
  src/electron/requests/confirm/renderer.ts
  src/windows/main/main.ts
Due: prettier --write, eslint --fix

chore: rename, remove loop
  src/electron/requests/confirm/main.ts
Due: prettier --write, eslint --fix

chore: fix typo
  src/windows/main/renderer.tsx
Due: prettier --write, eslint --fix

test: fix test deps
  package-lock.json
  package.json
  scripts/publish/publish.test.ts
  src/electron/requests/storage/__snapshots__/ElectronFilesController.integration.test.ts.snap
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: remove unused deps
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: update imports
  src/core/features/notes/controller/NotesController.ts
  src/core/features/tags/controller/TagsController.ts
  src/utils/db/query-builder.ts
  src/utils/db/wrapDB.ts
Due: prettier --write, eslint --fix

refactor: move to dir confirm logic
  src/electron/requests/confirm/main.ts
  src/electron/requests/confirm/preload.ts
  src/electron/requests/confirm/renderer.ts
  src/windows/main/main.ts
  src/windows/main/preload.ts
  src/windows/main/render.d.ts
  src/windows/main/renderer.tsx
Due: prettier --write, eslint --fix

chore: rename
  src/electron/requests/confirm/renderer.ts
  src/windows/main/preload.ts
  src/windows/main/renderer.tsx
Due: prettier --write, eslint --fix

chore: rename
  src/electron/requests/confirm/main.ts
  src/electron/requests/confirm/preload.ts
Due: prettier --write, eslint --fix

build: remove @electron-forge/maker-rpm
  forge.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor: rename, simplify
  src/electron/requests/confirm/main.ts
  src/electron/requests/confirm/preload.ts
  src/electron/requests/confirm/renderer.ts
  src/electron/requests/confirm/shared.ts
  src/windows/main/preload.ts
Due: prettier --write, eslint --fix

chore: remove types
  package-lock.json
  package.json
Due: prettier --write --parser json

refactor: rename
  src/electron/requests/confirm/preload.ts
  src/electron/requests/confirm/renderer.ts
  src/electron/requests/confirm/shared.ts
  src/electron/requests/electronPatches/main.ts
  src/electron/requests/electronPatches/preload.ts
  src/electron/requests/electronPatches/renderer.ts
  src/electron/requests/electronPatches/shared.ts
  src/windows/main/main.ts
  src/windows/main/preload.ts
  src/windows/main/renderer.tsx
Due: prettier --write, eslint --fix

chore: fix stylelint config
  .stylelintrc
  package.json
  src/features/NoteEditor/RichEditor/theme/RichEditor.css
  stylelint.config.mjs
Due: stylelint --fix, prettier --write --parser json

chore: rename, add to about window
  src/electron/requests/electronPatches/renderer.ts
  src/windows/about/index.ts
  src/windows/about/preload.ts
  src/windows/about/renderer.tsx
  src/windows/main/renderer.tsx
Due: prettier --write, eslint --fix

chore: rename
  src/electron/requests/electronPatches/main.ts
  src/electron/requests/electronPatches/renderer.ts
  src/windows/about/index.ts
  src/windows/main/main.ts
Due: prettier --write, eslint --fix

style: do not repeat class members
  src/core/storage/ConfigStorage.ts
  src/core/storage/ProfilesManager.ts
Due: prettier --write, eslint --fix

refactor: remove unused property
  src/components/Features/Group.tsx
  src/components/Features/Header/FeaturesHeader.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.css
  prettier --write --parser markdown: any of: *.{md,mdx}
  prettier --write --parser json: any of: *.json
