Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{ts,tsx,js,jsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.css": [
		"stylelint --fix"
	],
	"*.{md,mdx}": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

build: disable electron-fuse
  forge.config.ts
Due: prettier --write, eslint --fix

build: don't provide osx sign config
  forge.config.ts
Due: prettier --write, eslint --fix

Revert "refactor: move code to reducers"
  src/hooks/notes/useNoteShortcutActions.ts
  src/state/redux/profiles/profiles.ts
Due: prettier --write, eslint --fix

chore: inline callback
  src/hooks/notes/useNoteShortcutActions.ts
Due: prettier --write, eslint --fix

Revert "fix: initialize console on first render"
  src/features/App/Profile/SQLConsole/SQLConsole.tsx
Due: prettier --write, eslint --fix

build: add script to compile icons
  forge.config.ts
  package-lock.json
  package.json
  scripts/icons/build.ts
  scripts/icons/icons.ts
  webpack.electron.js
Due: prettier --write, eslint --fix, prettier --write --parser json

build: compile icons
  assets/icons/app.icns
  assets/icons/app.ico
  assets/icons/app.png
Due: none

chore: move utils to hook
  src/hooks/notes/useNoteShortcutActions.ts
Due: prettier --write, eslint --fix

docs: update win instructions
  README.md
Due: prettier --write --parser markdown

docs: do not install unnecessary packages
  README.md
Due: prettier --write --parser markdown

docs: update macOS section
  README.md
Due: prettier --write --parser markdown

build: configure build for linux
  forge.config.ts
Due: prettier --write, eslint --fix

build: add rpm package
  forge.config.ts
  package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

build: update icon size
  assets/icons/app.png
  scripts/icons/icons.ts
Due: prettier --write, eslint --fix

chore: update about window
  src/main.ts
Due: prettier --write, eslint --fix

fix: use accelerator instead of global shortcut
  src/createAppMenu.ts
  src/windows/main/main.ts
Due: prettier --write, eslint --fix

refactor: open external links in browser for all windows
  src/main.ts
  src/windows/main/main.ts
Due: prettier --write, eslint --fix

feat: custom about window
  package.json
  src/about.ts
  src/createAppMenu.ts
  src/windows/about/About.tsx
  src/windows/about/index.ts
  src/windows/about/preload.ts
  src/windows/about/renderer.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor: consistent use app info
  forge.config.ts
  package.json
  src/about.ts
  src/main.ts
  src/windows/main/components/AppTray.ts
  src/windows/main/main.ts
  webpack.app.js
Due: prettier --write, eslint --fix, prettier --write --parser json

build: use info from package.json
  webpack.app.js
Due: prettier --write, eslint --fix

fix: close window only once
  src/windows/about/index.ts
Due: prettier --write, eslint --fix

build: use display name for darwin platform
  forge.config.ts
Due: prettier --write, eslint --fix

feat: show tray menu only by right click
  src/windows/main/components/AppTray.ts
Due: prettier --write, eslint --fix

refactor: tray menu
  src/windows/main/components/AppTray.ts
Due: prettier --write, eslint --fix

build: use swc
  .eslintrc
  package-lock.json
  package.json
  webpack.app.js
  webpack.common.js
Due: prettier --write, eslint --fix, prettier --write --parser json

build: setup chunking
  webpack.common.js
  webpack.config.js
  webpack.electron.js
  webpack.preload-scripts.js
Due: prettier --write, eslint --fix

build: use typescript configs for a webpack
  .eslintrc
  package-lock.json
  package.json
  scripts/webpack.js
  scripts/webpack/app.ts
  scripts/webpack/electron-main.ts
  scripts/webpack/electron-preload.ts
  scripts/webpack/shared.ts
  scripts/webpack/utils.ts
  tsconfig.json
  webpack.config.js
  webpack.config.ts
  webpack.electron.js
Due: prettier --write, eslint --fix, prettier --write --parser json

build: consistent windows discovery
  scripts/webpack/__snapshots__/webpack-config.test.ts.snap
  scripts/webpack/app.ts
  scripts/webpack/electron-preload.ts
  scripts/webpack/utils.ts
  scripts/webpack/webpack-config.test.ts
  vitest.config.mts
Due: prettier --write, eslint --fix

build: enable files cache for builds
  scripts/webpack/__snapshots__/webpack-config.test.ts.snap
  scripts/webpack/shared.ts
  scripts/webpack/utils.ts
  scripts/webpack/webpack-config.test.ts
Due: prettier --write, eslint --fix

Revert "build: enable files cache for builds"
  scripts/webpack/__snapshots__/webpack-config.test.ts.snap
  scripts/webpack/shared.ts
  scripts/webpack/utils.ts
  scripts/webpack/webpack-config.test.ts
Due: prettier --write, eslint --fix

build: remove unused code
  scripts/webpack/shared.ts
Due: prettier --write, eslint --fix

fix: open app by click for some linux environments
  .eslintrc
  src/main.ts
  src/utils/os/detectLinuxDesktopEnv.ts
  src/windows/main/components/AppTray.ts
Due: prettier --write, eslint --fix

build: update makefile
  Makefile
  README.md
Due: prettier --write --parser markdown

docs: update guide for Ubuntu
  README.md
Due: prettier --write --parser markdown

feat: ensure only one app instance
  src/electron/main/createAppMenu.ts
  src/electron/main/main.ts
  src/main.ts
  src/windows/main/main.ts
Due: prettier --write, eslint --fix

chore: restore window if minimized
  src/windows/main/main.ts
Due: prettier --write, eslint --fix

fix: call focus on main window
  src/electron/main/main.ts
Due: prettier --write, eslint --fix

chore: remove unused packages
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: remove unused vars
  scripts/webpack/shared.ts
  scripts/webpack/utils.ts
Due: prettier --write, eslint --fix
