Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

feat: create workspace
  src/components/useModalWindow.tsx
  src/features/App/Workspace/index.tsx
  src/features/MainScreen/NotesOverview/index.tsx
  src/features/MainScreen/WorkspaceBar/WorkspaceCreatePopup.tsx
  src/features/MainScreen/WorkspaceBar/index.tsx
  src/features/MainScreen/WorkspaceBar/useWorkspacesList.tsx
Due: prettier --write, eslint --fix

chore: add placeholders and validation to form
  .eslintrc
  package-lock.json
  package.json
  src/components/theme/basic.ts
  src/features/MainScreen/WorkspaceBar/WorkspaceCreatePopup.tsx
  src/features/NoteEditor/RichEditor/plugins/ContextMenu/components/ObjectPropertiesEditor.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: implement method to update workspace
  src/core/features/workspaces/WorkspacesController.test.ts
  src/core/features/workspaces/WorkspacesController.ts
Due: prettier --write, eslint --fix

feat: workspace name editing
  src/features/MainScreen/WorkspaceBar/WorkspaceCreatePopup.tsx
  src/features/MainScreen/WorkspaceBar/useWorkspacesList.tsx
  src/features/WorkspaceSettings/WorkspaceSettings.tsx
Due: prettier --write, eslint --fix

chore: unmount workspace settings when is not opened
  src/features/MainScreen/WorkspaceBar/index.tsx
  src/features/WorkspaceSettings/WorkspaceSettings.tsx
Due: prettier --write, eslint --fix

feat: implement color schemes for custom styles
  src/components/theme/basic.ts
  src/features/WorkspaceSettings/WorkspaceSettings.tsx
Due: prettier --write, eslint --fix

chore: remove unused scheme mode
  src/components/theme/basic.ts
Due: prettier --write, eslint --fix

feat: delete workspace
  src/features/MainScreen/WorkspaceBar/useWorkspacesList.tsx
  src/features/WorkspaceSettings/WorkspaceSettings.tsx
Due: prettier --write, eslint --fix

feat: confirmation for workspace deletion
  src/features/WorkspaceSettings/WorkspaceSettings.tsx
  src/state/redux/profiles/selectors/notes.ts
Due: prettier --write, eslint --fix

feat: prevent deletion for last workspace in profile
  src/components/theme/basic.ts
  src/features/WorkspaceSettings/WorkspaceSettings.tsx
Due: prettier --write, eslint --fix

chore: place tabs in grid with auto columns number
  src/features/MainScreen/TopBar/index.tsx
Due: prettier --write, eslint --fix

chore: add scroll for tabs
  src/features/MainScreen/TopBar/index.tsx
Due: prettier --write, eslint --fix

chore: scroll active tab into view
  src/features/MainScreen/TopBar/index.tsx
Due: prettier --write, eslint --fix

fix(#99): use sourcemap files instead of inlined sourcemaps
  webpack.common.js
Due: prettier --write, eslint --fix

feat: hide inactive workspaces
  src/features/App/Workspace/index.tsx
  src/features/MainScreen/index.tsx
Due: prettier --write, eslint --fix

chore: move container styles up
  src/features/App/Workspace/index.tsx
  src/features/MainScreen/index.tsx
Due: prettier --write, eslint --fix

chore: move key to root component in array
  src/features/App/Profiles/index.tsx
Due: prettier --write, eslint --fix

feat: don't render workspaces that has not been touched
  src/features/App/Profile/index.tsx
  src/features/App/Workspace/index.tsx
  src/features/MainScreen/WorkspaceBar/useWorkspacesList.tsx
  src/state/redux/profiles/profiles.ts
Due: prettier --write, eslint --fix

refactor: use nano-queries
  package-lock.json
  package.json
  src/core/features/notes/controller/NotesController.ts
  src/core/features/workspaces/WorkspacesController.ts
  src/utils/SQLBuilder/ConditionClause.ts
  src/utils/SQLBuilder/GroupExpression.ts
  src/utils/SQLBuilder/LimitClause.ts
  src/utils/SQLBuilder/SQLBuilder.test.ts
  src/utils/SQLBuilder/SelectStatement.ts
  src/utils/SQLBuilder/SetExpression.ts
  src/utils/SQLBuilder/WhereClause.ts
  src/utils/SQLBuilder/core/PreparedValue.ts
  src/utils/SQLBuilder/core/RawQuery.ts
  src/utils/SQLBuilder/core/RawValue.ts
  src/utils/SQLBuilder/types.ts
  src/utils/SQLBuilder/utils/QueryConstructor.ts
  src/utils/SQLBuilder/utils/builder.ts
  src/utils/db/wrapDB.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: update sqlite
  package-lock.json
  package.json
Due: prettier --write --parser json

refactor: query builder
  src/core/features/notes/controller/NotesController.ts
  src/core/features/workspaces/WorkspacesController.ts
  src/utils/db/query-builder.ts
  src/utils/db/wrapDB.ts
Due: prettier --write, eslint --fix

chore: update electron
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: remove link
  src/templates/window.html
Due: none

test: use vitest instead of jest
  .eslintrc
  package-lock.json
  package.json
  src/core/encryption/__tests__/__snapshots__/integration.test.ts.snap
  src/core/features/links/__snapshots__/links.test.ts.snap
  src/core/features/workspaces/WorkspacesController.test.ts
  src/core/storage/database/SQLiteDatabase/SQLiteDatabase.test.ts
  src/global.d.ts
  src/utils/debounce/debounce.test.ts
  vitest.config.mts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: use stable sqlite + electron versions
  package-lock.json
  package.json
Due: prettier --write --parser json

feat: hide modal windows for inactive workspaces
  src/components/ModalScreen/ModalScreen.tsx
  src/components/TagEditor/index.tsx
  src/components/useModalWindow.tsx
  src/features/App/Workspace/WorkspaceModal.tsx
  src/features/App/Workspace/index.tsx
Due: prettier --write, eslint --fix

feat: provide status bar context for every workspace
  src/features/App/Profile/index.tsx
  src/features/App/Profiles/index.tsx
  src/features/App/Workspace/index.tsx
Due: prettier --write, eslint --fix

chore: delete profile from redux by lock
  src/features/App/Profiles/index.tsx
Due: prettier --write, eslint --fix

refactor: move modal window component
  src/components/ModalScreen/ModalScreen.tsx
  src/components/TagEditor/index.tsx
  src/features/App/Workspace/index.tsx
  src/features/MainScreen/WorkspaceBar/WorkspaceCreatePopup.tsx
  src/features/MainScreen/WorkspaceBar/index.tsx
  src/features/ModalWindow/index.tsx
  src/features/ModalWindow/useModalWindow.tsx
  src/features/NoteEditor/EditorPanel/buttons/ImageButton.tsx
  src/features/NoteEditor/EditorPanel/buttons/LinkButton.tsx
  src/features/WorkspaceSettings/WorkspaceSettings.tsx
  src/windows/main/renderer.tsx
Due: prettier --write, eslint --fix

refactor: rename modal component
  src/components/ModalScreen/ModalScreen.tsx
  src/components/TagEditor/index.tsx
  src/features/App/Workspace/index.tsx
  src/features/MainScreen/WorkspaceBar/WorkspaceCreatePopup.tsx
  src/features/MainScreen/WorkspaceBar/index.tsx
  src/features/ModalWindow/useModalWindow.tsx
  src/features/NoteEditor/EditorPanel/buttons/ImageButton.tsx
  src/features/NoteEditor/EditorPanel/buttons/LinkButton.tsx
  src/features/WorkspaceModal/index.tsx
  src/features/WorkspaceModal/useWorkspaceModal.tsx
  src/features/WorkspaceSettings/WorkspaceSettings.tsx
  src/windows/main/renderer.tsx
Due: prettier --write, eslint --fix

chore: remove jest config
  jest.config.js
  package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: remove jest files
  scripts/jest/fileTransformer.js
  scripts/jest/setupFiles/index.js
Due: prettier --write, eslint --fix

chore: create only one workspace by default
  src/features/App/Profiles/hooks/useProfileContainers.ts
Due: prettier --write, eslint --fix

refactor: clear code
  src/features/App/Profiles/hooks/useProfileContainers.ts
Due: prettier --write, eslint --fix

fix: update profiles list by create new one
  src/features/App/useProfilesList.ts
Due: prettier --write, eslint --fix

feat: open profile automatically after creation
  src/features/App/WorkspaceManager/ProfileLoginForm/index.tsx
  src/features/App/WorkspaceManager/index.tsx
  src/features/App/useProfilesList.ts
Due: prettier --write, eslint --fix

feat: focus on input with error while create profile
  src/features/App/WorkspaceManager/ProfileCreator/index.tsx
Due: prettier --write, eslint --fix

fix: notes list rendering performance
  .eslintrc
  package-lock.json
  package.json
  src/components/NotePreview/NotePreview.tsx
  src/features/App/Profile/index.tsx
  src/features/App/Profiles/index.tsx
  src/features/App/Workspace/WorkspaceStatusBarItems.tsx
  src/features/App/Workspace/index.tsx
  src/features/App/Workspace/useActiveNoteHistoryButton.tsx
  src/features/MainScreen/NewNoteButton.tsx
  src/features/MainScreen/NotesList/index.tsx
  src/features/MainScreen/index.tsx
  src/hooks/notes/useCreateNote.ts
  src/hooks/notes/useNoteActions.ts
  src/hooks/notes/useUpdateNotes.ts
  src/state/redux/profiles/hooks.ts
  src/state/redux/profiles/selectors/notes.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: update gap in list
  src/features/MainScreen/NotesList/index.tsx
Due: prettier --write, eslint --fix

chore: prevent scroll for visible note
  src/features/MainScreen/NotesList/index.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.css
  prettier --write --parser markdown: any of: *.{md,mdx}
  prettier --write --parser json: any of: *.json
