Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{ts,tsx,js,jsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.css": [
		"stylelint --fix"
	],
	"*.{md,mdx}": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

feat(#10): new component Features
  src/app/App/Preferences/Preferences.css
  src/app/App/Preferences/Preferences.tsx
  src/app/components/Features/Container/FeaturesContainer.css
  src/app/components/Features/Container/FeaturesContainer.tsx
  src/app/components/Features/Features.tsx
  src/app/components/Features/Header/FeaturesHeader.css
  src/app/components/Features/Header/FeaturesHeader.tsx
  src/app/components/Features/Option/FeaturesOption.css
  src/app/components/Features/Option/FeaturesOption.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(#10): implement modal layout
  src/app/App/Preferences/Preferences.css
  src/app/App/Preferences/Preferences.tsx
  src/app/components/Modal/_view/Modal_view_screen.css
Due: prettier --write, eslint --fix, stylelint --fix

feat(#10): implement ModalScreen
  src/app/App/ModalScreen/ModalScreen.css
  src/app/App/ModalScreen/ModalScreen.tsx
  src/app/App/Preferences/Preferences.css
  src/app/App/Preferences/Preferences.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix(#10): remove line height for icons
  src/app/components/Icon/_hasGlyph/Icon_hasGlyph.css
  src/app/components/Icon/_hasGlyph/Icon_hasGlyph.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix(#10): remove unnecessary style patch
  src/app/App/Preferences/Preferences.css
Due: stylelint --fix

feat(#10): implement workspace settings UI
  src/app/App/MainScreen/index.tsx
  src/app/App/ModalScreen/ModalScreen.css
  src/app/App/Preferences/Preferences.tsx
  src/app/App/WorkspaceSettings/WorkspaceSettings.css
  src/app/App/WorkspaceSettings/WorkspaceSettings.tsx
  src/app/components/Features/Header/FeaturesHeader.css
Due: prettier --write, eslint --fix, stylelint --fix

feat(#10): add icons for context menu
  src/app/App/App.css
  src/app/App/NoteEditor/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(#10): close popup by click outside
  package-lock.json
  package.json
  src/app/App/NoteEditor/index.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

feat(#10): implement history button
  src/app/App/MainScreen/index.tsx
Due: prettier --write, eslint --fix

feat(#10): implement order for buttons in footer
  src/app/App/MainScreen/index.tsx
  src/app/App/Preferences/Preferences.tsx
  src/app/api/buttons/ButtonsManager.ts
Due: prettier --write, eslint --fix

feat(#10): implement notifications UI
  src/app/App/MainScreen/Notifications/Notifications.css
  src/app/App/MainScreen/Notifications/Notifications.tsx
  src/app/App/MainScreen/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

fix(#10): update effect deps
  src/app/App/MainScreen/Notifications/Notifications.tsx
Due: prettier --write, eslint --fix

feat(#10): side bar for notes
  src/app/App/NoteEditor/NoteEditor.css
  src/app/App/NoteEditor/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

refactor(#51): use better-sqlite3
  forge.config.js
  package-lock.json
  package.json
  sqlite/README.md
  sqlite/extensions/dbdump.dll
  sqlite/extensions/dbdump.dylib
  sqlite/extensions/dbdump.so
  sqlite/extensions/uuid.dll
  sqlite/extensions/uuid.dylib
  sqlite/extensions/uuid.so
  src/app/App/index.tsx
  src/core/Registry/Attachments/Attachments.test.ts
  src/core/Registry/Attachments/Attachments.ts
  src/core/Registry/FilesRegistry/FilesRegistry.test.ts
  src/core/Registry/FilesRegistry/FilesRegistry.ts
  src/core/Registry/NotesRegistry.test.ts
  src/core/Registry/NotesRegistry.ts
  src/core/Registry/Tags/Tags.test.ts
  src/core/Registry/Tags/Tags.ts
  src/core/storage/ExtendedSqliteDatabase.ts
  src/core/storage/SQLiteDb.test.ts
  src/core/storage/SQLiteDb.ts
  src/core/storage/migrations/index.ts
  webpack.common.js
  webpack.electron.js
Due: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

fix(#51): enable auto saving
  src/core/storage/SQLiteDb.ts
Due: prettier --write, eslint --fix

fix(#51): tags attachments
  src/core/Registry/Tags/Tags.ts
Due: prettier --write, eslint --fix

fix(#51): save files to proper dir
  src/app/App/index.tsx
Due: prettier --write, eslint --fix

fix(#51): make buffers transferable
  src/core/encryption/WorkerEncryptionController.ts
Due: prettier --write, eslint --fix

fix(#51): transform typed arrays
  src/core/encryption/WorkerEncryptionController.ts
Due: prettier --write, eslint --fix

test(#51): transform typed arrays
  src/core/encryption/WorkerEncryptionController.test.ts
Due: prettier --write, eslint --fix

test(#51): add test for Uint32Array
  src/core/encryption/WorkerEncryptionController.test.ts
Due: prettier --write, eslint --fix

refactor(#51): move convertBufferToTransferable
  src/core/encryption/WorkerEncryptionController.test.ts
  src/core/encryption/WorkerEncryptionController.ts
  src/core/encryption/utils/buffers.test.ts
  src/core/encryption/utils/buffers.ts
Due: prettier --write, eslint --fix

test(#51): add test for joinBuffers
  src/core/encryption/utils/buffers.test.ts
Due: prettier --write, eslint --fix

feat(#51): convert buffers in joinBuffers
  src/core/encryption/utils/buffers.ts
Due: prettier --write, eslint --fix

test(#51): replace deprecated Buffer syntax
  src/core/encryption/utils/buffers.test.ts
Due: prettier --write, eslint --fix

chore(#51): rebuild deps before scripts
  package.json
Due: prettier --write --parser json

docs(#51): add troubleshooting
  docs/TROUBLESHOOTING.md
Due: prettier --write --parser markdown

docs(#51): update troubleshooting
  docs/TROUBLESHOOTING.md
Due: prettier --write --parser markdown

build(#51): include native modules to bundle
  package-lock.json
  package.json
  src/core/storage/SQLiteDb.ts
  webpack.common.js
Due: prettier --write, eslint --fix, prettier --write --parser json

chore(#51): remove unnecessary packages
  package-lock.json
  package.json
Due: prettier --write --parser json

test(#51): add stress tests for notes registry
  jest.config.js
  src/core/Registry/NotesRegistry.performance.test.ts
  src/core/Registry/NotesRegistry.test.ts
Due: prettier --write, eslint --fix

refactor(#51): remove explicit sync
  src/core/Registry/NotesRegistry.ts
Due: prettier --write, eslint --fix

test(#51): disable tests
  src/core/Registry/NotesRegistry.test.ts
Due: prettier --write, eslint --fix

refactor(#51): prevent concurrent access to DB
  src/core/storage/SQLiteDb.ts
Due: prettier --write, eslint --fix

test(#51): concurrency prevention
  src/core/Registry/NotesRegistry.test.ts
  src/core/storage/SQLiteDb.test.ts
Due: prettier --write, eslint --fix

build(#51): rebuild native modules for build
  package.json
Due: prettier --write --parser json

fix(#51): use date instead of performance.now
  src/core/storage/SQLiteDb.ts
Due: prettier --write, eslint --fix

test(#51): preserve inode test
  src/core/storage/SQLiteDb.test.ts
Due: prettier --write, eslint --fix

fix(#51): preserve inode
  src/utils/files.ts
Due: prettier --write, eslint --fix

fix(#51): remove temporary files
  src/utils/files.ts
Due: prettier --write, eslint --fix
