Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{ts,tsx,js,jsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.css": [
		"stylelint --fix"
	],
	"*.{md,mdx}": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

feat: add readonly mode for note version
  src/features/NoteEditor/NoteVersions.tsx
  src/features/NoteEditor/index.tsx
Due: prettier --write, eslint --fix

chore: remove unnecessary changes
  src/core/features/notes/index.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenuCallback.ts
Due: prettier --write, eslint --fix

refactor: get controller from context
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenuCallback.ts
  src/features/MainScreen/TopBar/index.tsx
  src/features/NotesContainer/index.tsx
Due: prettier --write, eslint --fix

chore: rename, improve type, simplify
  src/features/MainScreen/NotesList/NoteContextMenu/noteContextMenus.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenu.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenuCallback.ts
  src/features/MainScreen/NotesList/NoteContextMenu/utils/getCurrentNoteMenu.ts
  src/features/MainScreen/NotesList/NoteContextMenu/utils/selectNoteMenu.ts
  src/features/MainScreen/NotesList/index.tsx
  src/features/MainScreen/TopBar/index.tsx
Due: prettier --write, eslint --fix

chore: fix style
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenu.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenuCallback.ts
Due: prettier --write, eslint --fix

test: fix error, improve name
  src/core/features/notes/controller/NotesController.test.ts
Due: prettier --write, eslint --fix

test: rename
  src/core/features/notes/controller/NotesController.test.ts
Due: prettier --write, eslint --fix

fix: connection busy when update tags
  src/features/MainScreen/index.tsx
Due: prettier --write, eslint --fix

feat: implement context menu with react
  src/features/App/Workspace/index.tsx
  src/features/MainScreen/NotesList/NoteContextMenu/ContextMenu.tsx
  src/features/MainScreen/NotesList/NoteContextMenu/ContextMenuProvider.tsx
  src/features/MainScreen/NotesList/NoteContextMenu/noteContextMenus.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenu.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenu.tsx
  src/features/MainScreen/NotesList/NoteContextMenu/utils/selectNoteMenu.ts
  src/features/MainScreen/NotesList/index.tsx
  src/features/MainScreen/NotesOverview/TagsList/useTagContextMenu.ts
  src/features/MainScreen/TopBar/index.tsx
Due: prettier --write, eslint --fix

fix: close menu after focus on another select, toggle menu
  src/features/MainScreen/NotesList/NoteContextMenu/ContextMenu.tsx
  src/features/MainScreen/NotesList/NoteContextMenu/ContextMenuProvider.tsx
Due: prettier --write, eslint --fix

refactor: improve context menu
  src/features/MainScreen/NotesList/NoteContextMenu/noteMenus.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenu.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenuCallback.ts
  src/features/MainScreen/NotesList/NoteContextMenu/utils/selectNoteMenu.ts
  src/features/NoteEditor/index.tsx
  src/hooks/useDynamicContextMenu.ts
Due: prettier --write, eslint --fix

chore: improve ui
  src/features/NoteEditor/index.tsx
Due: prettier --write, eslint --fix

Revert "feat: implement context menu with react"
  src/features/App/Workspace/index.tsx
  src/features/MainScreen/NotesList/NoteContextMenu/ContextMenu.tsx
  src/features/MainScreen/NotesList/NoteContextMenu/ContextMenuProvider.tsx
  src/features/MainScreen/NotesList/NoteContextMenu/noteContextMenus.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenu.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenu.tsx
  src/features/MainScreen/NotesList/NoteContextMenu/utils/selectNoteMenu.ts
  src/features/MainScreen/NotesList/index.tsx
  src/features/MainScreen/NotesOverview/TagsList/useTagContextMenu.ts
  src/features/MainScreen/TopBar/index.tsx
  src/features/MainScreen/index.tsx
Due: prettier --write, eslint --fix

chore: pass props
  src/features/NoteEditor/index.tsx
Due: prettier --write, eslint --fix

chore: improve code
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenu.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenuCallback.ts
  src/hooks/useDynamicContextMenu.ts
Due: prettier --write, eslint --fix

chore: fix
  package-lock.json
  src/hooks/useDynamicContextMenu.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: rename
  src/core/features/notes/controller/NotesController.ts
  src/core/storage/database/pglite/migrations/sql/2_add_deleted_to_notes.sql
Due: prettier --write, eslint --fix

chore: remove unnecessary hook
  src/features/MainScreen/NotesList/NoteContextMenu/noteMenus.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenu.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenuCallback.ts
Due: prettier --write, eslint --fix

chore: remove doubling
  src/core/features/notes/controller/NotesController.test.ts
Due: prettier --write, eslint --fix

chore: not duplicate type
  src/core/features/notes/index.ts
Due: prettier --write, eslint --fix

chore: fix typo
  src/hooks/useDynamicContextMenu.ts
Due: prettier --write, eslint --fix

chore: simplify
  src/features/NoteEditor/index.tsx
Due: prettier --write, eslint --fix

refactor: add migrations, update method usage
  package-lock.json
  src/core/features/notes/controller/NotesController.test.ts
  src/core/features/notes/controller/NotesController.ts
  src/core/storage/database/pglite/migrations/index.ts
  src/core/storage/database/pglite/migrations/sql/2_add_deleted_to_notes.sql
  src/hooks/notes/useUpdateNotes.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: separate hooks
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenu.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenuCallback.ts
Due: prettier --write, eslint --fix

refactor: move choosing menu
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenu.ts
  src/features/MainScreen/NotesList/NoteContextMenu/utils/selectNoteMenu.ts
  src/features/MainScreen/NotesList/index.tsx
  src/features/MainScreen/TopBar/index.tsx
Due: prettier --write, eslint --fix

chore: rename
  src/core/storage/database/pglite/migrations/index.ts
  src/core/storage/database/pglite/migrations/sql/3_add_deleted_to_notes.sql
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenuCallback.ts
Due: prettier --write, eslint --fix

build: setup AppImage maker
  .eslintrc
  forge.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

build: configure Windows build
  .eslintrc
  forge.config.ts
  package-lock.json
  package.json
  webpack.electron.js
Due: prettier --write, eslint --fix, prettier --write --parser json

build: remove @electron-forge/maker-squirrel
  package-lock.json
  package.json
Due: prettier --write --parser json

build: allow fast production build
  scripts/webpack.js
Due: prettier --write, eslint --fix

docs: update build section
  README.md
Due: prettier --write --parser markdown

docs: add trouble shooting section
  README.md
Due: prettier --write --parser markdown

build: add makefile
  Makefile
Due: none

docs: update win build instructions
  README.md
Due: prettier --write --parser markdown

build: use cross-env
  Makefile
  package-lock.json
  package.json
Due: prettier --write --parser json

build: use ico icon for windows
  forge.config.ts
Due: prettier --write, eslint --fix

build: set app icon
  forge.config.ts
Due: prettier --write, eslint --fix

build: add mac makers
  .eslintrc
  forge.config.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: rename
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenu.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenuCallback.ts
  src/hooks/useDynamicContextMenu.ts
Due: prettier --write, eslint --fix

docs: update windows packaging instructions
  README.md
Due: prettier --write --parser markdown
