Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

chore: improve code, fix error
  src/hooks/notes/useNoteShortcutActions.ts
  src/utils/collections/getItemByOffset.test.ts
Due: prettier --write, eslint --fix

fix: incorrect switch tab
  src/hooks/commands/shortcuts/index.ts
  src/hooks/notes/useNoteShortcutActions.ts
Due: prettier --write, eslint --fix

chore: rename
  src/hooks/commands/useCommandCallback.ts
  src/utils/collections/getItemByOffset.test.ts
Due: prettier --write, eslint --fix

refactor: add hook with auto cleanup
  package-lock.json
  package.json
  src/features/App/Profile/index.tsx
  src/hooks/commands/useCommandCallback.ts
  src/hooks/commands/useWorkspaceCommandCallback.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

refactor: use event bus
  src/features/App/Profile/index.tsx
  src/features/App/Profiles/index.tsx
  src/hooks/commands/CommandEventProvider.tsx
  src/hooks/commands/index.ts
  src/hooks/commands/shortcuts/useRegisterCommandShortcuts.ts
  src/hooks/commands/useCommand.ts
  src/hooks/commands/useCommandCallback.ts
  src/hooks/commands/useWorkspaceCommandCallback.ts
Due: prettier --write, eslint --fix

chore: rename
  src/features/App/Profile/index.tsx
  src/features/App/Profiles/index.tsx
  src/hooks/commands/CommandEventProvider.tsx
  src/hooks/commands/index.ts
  src/hooks/commands/shortcuts/index.ts
  src/hooks/commands/shortcuts/useRegisterCommandShortcuts.ts
  src/hooks/commands/useCommand.ts
  src/hooks/commands/useCommandCallback.ts
  src/hooks/commands/useWorkspaceCommandCallback.ts
  src/hooks/notes/useNoteShortcutActions.ts
Due: prettier --write, eslint --fix

refactor: add props, improve check
  src/features/App/Profile/index.tsx
  src/hooks/commands/useWorkspaceCommandCallback.ts
Due: prettier --write, eslint --fix

refactor: remove unnecessary wrap
  src/features/App/Profile/index.tsx
  src/hooks/commands/useCommandCallback.ts
  src/hooks/commands/useWorkspaceCommandCallback.ts
Due: prettier --write, eslint --fix

refactor: remove unnecessary ref, fix typo
  src/hooks/commands/CommandEventProvider.tsx
  src/hooks/commands/useWorkspaceCommandCallback.ts
Due: prettier --write, eslint --fix

chore: rename
  src/features/App/Profile/index.tsx
  src/hooks/commands/CommandEventProvider.tsx
  src/hooks/commands/shortcuts/useRegisterCommandShortcuts.ts
  src/hooks/commands/useWorkspaceCommandCallback.ts
Due: prettier --write, eslint --fix

chore: rename
  src/hooks/commands/useWorkspaceCommandCallback.ts
Due: prettier --write, eslint --fix

chore: fix typo
  src/utils/collections/getItemByOffset.test.ts
Due: prettier --write, eslint --fix

feat: enable pg_trgm on notes table
  .eslintrc
  src/core/storage/database/pglite/PGLiteDatabase.test.ts
  src/core/storage/database/pglite/PGLiteDatabase.ts
  src/core/storage/database/pglite/migrations/index.ts
  src/core/storage/database/pglite/migrations/sql/2_add_trgm_index_for_notes.sql
  tsconfig.json
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: notes search API
  src/core/features/notes/controller/NotesController.test.ts
  src/core/features/notes/controller/NotesController.ts
  src/core/features/notes/controller/index.ts
Due: prettier --write, eslint --fix

fix: dev console captured focus and how keys not work
  src/features/App/Profile/SQLConsole/SQLConsole.tsx
Due: prettier --write, eslint --fix

refactor: improve api
  src/features/App/Profile/index.tsx
  src/hooks/commands/shortcuts/useRegisterCommandShortcuts.ts
  src/hooks/commands/useCommand.ts
  src/hooks/commands/useCommandCallback.ts
  src/hooks/commands/useWorkspaceCommandCallback.ts
Due: prettier --write, eslint --fix

refactor: remove command bus
  src/hooks/commands/CommandEventProvider.tsx
  src/hooks/commands/useCommand.ts
  src/hooks/commands/useCommandCallback.ts
Due: prettier --write, eslint --fix

chore: rename
  src/features/App/Profiles/index.tsx
  src/hooks/commands/CommandEventProvider.tsx
  src/hooks/commands/CommandProvider.tsx
  src/hooks/commands/index.ts
  src/hooks/commands/useCommand.ts
  src/hooks/commands/useCommandCallback.ts
  src/hooks/commands/useWorkspaceCommandCallback.ts
Due: prettier --write, eslint --fix

refactor: rename, improve
  src/features/App/Profiles/index.tsx
  src/hooks/commands/CommandEventProvider.tsx
  src/hooks/commands/CommandProvider.tsx
  src/hooks/commands/useCommand.ts
  src/hooks/commands/useCommandCallback.ts
  src/hooks/commands/useWorkspaceCommandCallback.ts
Due: prettier --write, eslint --fix

chore: fix typo
  src/hooks/useDynamicContextMenu.ts
Due: prettier --write, eslint --fix

build: disable node integration
  package-lock.json
  package.json
  src/core/storage/database/index.ts
  src/core/storage/database/pglite/PGLite.worker.ts
  src/core/storage/database/pglite/PGLiteDatabase.ts
  src/core/storage/database/pglite/migrations/MigrationsRunner.test.ts
  src/core/storage/database/pglite/migrations/MigrationsRunner.ts
  src/core/storage/database/pglite/migrations/PostgresMigrationsStorage.ts
  src/core/storage/database/pglite/migrations/index.ts
  src/core/storage/database/pglite/migrations/types.ts
  src/core/storage/interop/import/NotesImporter.test.ts
  src/windows/main/main.ts
  src/windows/main/preload.ts
  webpack.app.js
  webpack.electron.js
Due: prettier --write, eslint --fix, prettier --write --parser json

test: increase default timeout
  vitest.config.mts
Due: none

fix: unsubscribe of db change callbacks by close DB call
  src/core/storage/database/ManagedDatabase.ts
Due: prettier --write, eslint --fix

feat: option to control immediate run of debounced function
  src/utils/debounce/debounce.test.ts
  src/utils/debounce/debounce.ts
Due: prettier --write, eslint --fix

fix: use pglite in worker
  src/core/storage/database/pglite/ExtendedPGLite.test.ts
  src/core/storage/database/pglite/ExtendedPGLite.ts
  src/core/storage/database/pglite/ExtendedPGliteWorker.ts
  src/core/storage/database/pglite/PGLite.worker.ts
  src/core/storage/database/pglite/PGLiteDatabase.ts
Due: prettier --write, eslint --fix

chore: change index to GIN
  src/__tests__/samples/index.ts
  src/__tests__/samples/long-text.md
  src/core/storage/database/pglite/PGLiteDatabase.test.ts
  src/core/storage/database/pglite/migrations/sql/2_add_trgm_index_for_notes.sql
Due: prettier --write, eslint --fix, prettier --write --parser markdown

test: add benchmarks for operations with notes
  src/core/features/notes/controller/NotesController.performance.test.ts
  src/core/features/notes/controller/__tests__/NotesController.bench.ts
  src/core/storage/database/pglite/PGLite.bench.ts
Due: prettier --write, eslint --fix

chore: update words
  .eslintrc
Due: none

chore: update db types
  src/core/storage/database/pglite/PGLiteDatabase.ts
  src/utils/db/wrapDB.ts
Due: prettier --write, eslint --fix

chore: update packages
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: npm audit fix
  package-lock.json
Due: prettier --write --parser json

fix: types and buffers
  src/core/encryption/__tests__/__snapshots__/encryption.consistency.test.ts.snap
  src/core/encryption/__tests__/__snapshots__/integration.test.ts.snap
  src/core/encryption/__tests__/encryption.consistency.test.ts
  src/core/encryption/ciphers/Twofish/index.ts
  src/core/encryption/utils/buffers.ts
  src/core/encryption/utils/keys.ts
  src/core/features/encryption/workers/Cryptography.worker.ts
  src/core/features/files/ZipFS.ts
  src/core/features/files/utils/dumpFilesStorage.tsx
  src/core/storage/ProfilesManager.ts
  src/core/storage/interop/export/NotesExporter.test.ts
  src/core/storage/interop/export/index.ts
  src/core/storage/interop/import/NotesImporter.test.ts
  src/core/storage/interop/utils/mdast.ts
  src/electron/requests/files/main.ts
  src/electron/requests/storage/ElectronFilesController.integration.test.ts
  tsconfig.json
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: add limit to search query in bench
  src/core/features/notes/controller/__tests__/NotesController.bench.ts
Due: prettier --write, eslint --fix

chore: use tsv search
  src/core/features/notes/controller/NotesController.ts
  src/core/storage/database/pglite/migrations/sql/2_add_trgm_index_for_notes.sql
Due: prettier --write, eslint --fix

feat: typo tolerant search in notes
  package-lock.json
  package.json
  src/core/features/notes/controller/NotesController.test.ts
  src/core/features/notes/controller/NotesController.ts
  src/core/storage/database/pglite/PGLite.worker.ts
  src/core/storage/database/pglite/PGLiteDatabase.ts
  src/core/storage/database/pglite/migrations/index.ts
  src/core/storage/database/pglite/migrations/sql/2_add_trgm_index_for_notes.sql
  src/core/storage/database/pglite/migrations/sql/2_full_text_search_for_notes.sql
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: search UI
  src/features/MainScreen/NotesPanel/index.tsx
  src/hooks/notes/useUpdateNotes.ts
  src/state/redux/profiles/profiles.ts
  src/state/redux/profiles/selectors/notes.ts
Due: prettier --write, eslint --fix

feat: tune notes list panel
  src/features/MainScreen/NotesPanel/index.tsx
Due: prettier --write, eslint --fix

chore: improve panel ui
  src/features/MainScreen/NotesPanel/index.tsx
Due: prettier --write, eslint --fix

feat: highlight search results
  .eslintrc
  package-lock.json
  package.json
  src/components/NotePreview/NotePreview.theme.ts
  src/components/NotePreview/NotePreview.tsx
  src/components/NotePreview/TextSample.tsx
  src/core/features/notes/utils.ts
  src/features/MainScreen/NotesList/index.tsx
  src/features/MainScreen/TopBar/index.tsx
  src/utils/text/bktree.ts
  src/utils/text/findTextSegments.test.ts
  src/utils/text/getHighlightedText.test.ts
  src/utils/text/search.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: decrease delay before search
  src/features/MainScreen/NotesPanel/index.tsx
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.css
  prettier --write --parser markdown: any of: *.{md,mdx}
  prettier --write --parser json: any of: *.json
