Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{ts,tsx,js,jsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.css": [
		"stylelint --fix"
	],
	"*.{md,mdx}": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

ci: do not install wix
  .github/workflows/ci-build.yml
Due: none

ci: exit 0 for WiX check
  .github/workflows/ci-build.yml
Due: none

ci: test build on ubuntu
  .github/workflows/ci-build.yml
Due: none

ci: release tag by tag changes
  .github/workflows/ci-build.yml
Due: none

0.0.2-0
  package-lock.json
  package.json
Due: prettier --write --parser json

0.0.2-1
  package-lock.json
  package.json
Due: prettier --write --parser json

0.0.2-preview.0
  package-lock.json
  package.json
Due: prettier --write --parser json

0.0.2-preview.1
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: add script to release preview versions
  package.json
Due: prettier --write --parser json

0.0.2-preview.2
  package-lock.json
  package.json
Due: prettier --write --parser json

0.0.2-preview.3
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: use version from package.json by default
  scripts/publish/args.ts
  scripts/publish/publish.test.ts
Due: prettier --write, eslint --fix

0.0.2-preview.4
  package-lock.json
  package.json
Due: prettier --write --parser json

ci: use auto tags
  .github/workflows/ci-build.yml
Due: none

0.0.2-preview.5
  package-lock.json
  package.json
Due: prettier --write --parser json

docs: add instruction how to release
  README.md
Due: prettier --write --parser markdown

fix: provide app version
  src/electron/main/createTelemetrySession.ts
  src/electron/main/main.ts
Due: prettier --write, eslint --fix

ci: clean workflow
  .github/workflows/release.yml
  Makefile
Due: none

0.0.2-preview.6
  package-lock.json
  package.json
Due: prettier --write --parser json

ci: setup releases publishing (#162)
  .github/workflows/release.yml
  Makefile
  README.md
  package-lock.json
  package.json
  scripts/publish/args.ts
  scripts/publish/index.ts
  scripts/publish/main.ts
  scripts/publish/publish.test.ts
  src/electron/main/createTelemetrySession.ts
  src/electron/main/main.ts
Due: prettier --write, eslint --fix, prettier --write --parser markdown, prettier --write --parser json

fix: not delete the tag when note is deleted to bin
  src/features/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
Due: prettier --write, eslint --fix

feat: add logic for restore note
  src/features/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
Due: prettier --write, eslint --fix

refactor: dynamic create context menu
  src/features/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
Due: prettier --write, eslint --fix

feat: add possible delete notes to bin
  src/core/features/notes/controller/NotesController.test.ts
  src/core/features/notes/controller/NotesController.ts
  src/core/features/notes/controller/index.ts
  src/core/features/notes/index.ts
Due: prettier --write, eslint --fix

feat: style deleted note in tad list
  src/features/MainScreen/TopBar/index.tsx
Due: prettier --write, eslint --fix

refactor: isDeleted property is never null
  src/core/features/notes/index.ts
  src/features/NoteEditor/index.tsx
Due: prettier --write, eslint --fix

refactor: use ref for context menu because state update late
  src/hooks/useContextMenu.ts
Due: prettier --write, eslint --fix

refactor: improve confirm text
  src/features/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
Due: prettier --write, eslint --fix

fix: incorrect deleted note
  src/features/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
Due: prettier --write, eslint --fix

refactor: simplify code
  src/features/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
Due: prettier --write, eslint --fix

chore: add export for type
  src/features/NoteEditor/EditorPanel/EditorPanel.tsx
Due: prettier --write, eslint --fix

refactor: rename, remove nested ternary operator
  src/core/features/notes/controller/NotesController.test.ts
Due: prettier --write, eslint --fix

refactor: parent component should conditionally renders
  src/features/NoteEditor/EditorPanel/EditorPanel.tsx
  src/features/NoteEditor/index.tsx
Due: prettier --write, eslint --fix

refactor: update opened note when it deleted
  src/features/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
  src/features/MainScreen/NotesList/index.tsx
  src/features/MainScreen/TopBar/index.tsx
  src/features/NoteEditor/index.tsx
  src/features/NotesContainer/index.tsx
Due: prettier --write, eslint --fix

feat: add conditional menu rendering
  src/features/MainScreen/NotesList/NoteContextMenu/index.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
Due: prettier --write, eslint --fix

fix: update usage
  src/features/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
Due: prettier --write, eslint --fix

refactor: do not render editor panel for deleted note
  src/features/NoteEditor/EditorPanel/EditorPanel.tsx
  src/features/NoteEditor/useIsActiveNoteDeleted.tsx
Due: prettier --write, eslint --fix
