Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

test: improve code
  src/core/features/notes/controller/NotesController.test.ts
Due: prettier --write, eslint --fix

chore: rename view name for consistency
  src/features/MainScreen/NotesOverview/index.tsx
  src/state/redux/profiles/profiles.ts
Due: prettier --write, eslint --fix

chore: rename
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenu.ts
  src/features/MainScreen/NotesList/index.tsx
  src/features/MainScreen/TopBar/index.tsx
Due: prettier --write, eslint --fix

chore: rename, simplify code
  src/core/features/notes/controller/NotesController.test.ts
Due: prettier --write, eslint --fix

chore: fix typo
  src/hooks/useDynamicContextMenu.ts
Due: prettier --write, eslint --fix

chore: remove doubling
  src/core/features/notes/controller/NotesController.test.ts
Due: prettier --write, eslint --fix

refactor: improve context menu
  src/features/MainScreen/NotesList/NoteContextMenu/noteMenus.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenu.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenuCallback.ts
  src/features/MainScreen/NotesList/NoteContextMenu/utils/selectNoteMenu.ts
  src/features/NoteEditor/index.tsx
  src/hooks/useDynamicContextMenu.ts
Due: prettier --write, eslint --fix

chore: fix style
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenu.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenuCallback.ts
Due: prettier --write, eslint --fix

refactor: add migrations, update method usage
  package-lock.json
  src/core/features/notes/controller/NotesController.test.ts
  src/core/features/notes/controller/NotesController.ts
  src/core/storage/database/pglite/migrations/index.ts
  src/core/storage/database/pglite/migrations/sql/2_add_deleted_to_notes.sql
  src/hooks/notes/useUpdateNotes.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

chore: rename
  src/core/features/telemetry/index.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenu.ts
  src/state/redux/settings/selectors/preferences.ts
  src/state/redux/settings/settings.ts
Due: prettier --write, eslint --fix

chore: rename ui text
  src/features/MainScreen/NotesOverview/index.tsx
Due: prettier --write, eslint --fix

feat: Implement recycle bin (#113)
  src/core/features/notes/controller/NotesController.test.ts
  src/core/features/notes/controller/NotesController.ts
  src/core/features/notes/controller/index.ts
  src/core/features/telemetry/index.ts
  src/core/storage/database/pglite/migrations/index.ts
  src/core/storage/database/pglite/migrations/sql/3_add_deleted_column_to_notes.sql
  src/features/MainScreen/NotesList/NoteContextMenu/index.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
  src/features/MainScreen/NotesList/NoteContextMenu/useNoteContextMenu.ts
  src/features/MainScreen/NotesList/index.tsx
  src/features/MainScreen/NotesOverview/index.tsx
  src/features/MainScreen/TopBar/index.tsx
  src/features/NoteEditor/NoteVersions.tsx
  src/features/NoteEditor/index.tsx
  src/features/NotesContainer/index.tsx
  src/hooks/notes/useUpdateNotes.ts
  src/hooks/useShowNoteContextMenu.ts
  src/state/redux/profiles/profiles.ts
  src/state/redux/profiles/selectors/view.ts
  src/state/redux/settings/selectors/preferences.ts
  src/state/redux/settings/settings.ts
Due: prettier --write, eslint --fix

fix: update events tracker config
  .eslintrc
  package-lock.json
  package.json
  src/core/features/telemetry/RybbitTracker.ts
  src/core/features/telemetry/Telemetry.test.ts
  src/core/features/telemetry/Telemetry.ts
  src/core/features/telemetry/index.ts
  src/electron/main/main.ts
  src/utils/os/getConfig.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

0.0.2-preview.7
  package-lock.json
  package.json
Due: prettier --write --parser json

fix: telemetry events data is partially lost (#165)
  .eslintrc
  package-lock.json
  package.json
  src/core/features/telemetry/RybbitTracker.ts
  src/core/features/telemetry/Telemetry.test.ts
  src/core/features/telemetry/Telemetry.ts
  src/core/features/telemetry/index.ts
  src/electron/main/main.ts
  src/utils/os/getConfig.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: add github releases checker
  src/electron/updates/GitHubReleaseUpdatesChecker.test.ts
  src/electron/updates/GitHubReleaseUpdatesChecker.ts
Due: prettier --write, eslint --fix

feat: add toast with app update request
  src/components/AppToast.tsx
  src/features/App/index.tsx
  src/features/App/useAppUpdater.tsx
Due: prettier --write, eslint --fix

feat: update to only greater versions
  package-lock.json
  package.json
  src/electron/updates/GitHubReleaseUpdatesChecker.test.ts
  src/electron/updates/GitHubReleaseUpdatesChecker.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

0.0.2-preview.8
  package-lock.json
  package.json
Due: prettier --write --parser json

feat: implement the update mechanism (#166)
  package-lock.json
  package.json
  src/components/AppToast.tsx
  src/electron/updates/GitHubReleaseUpdatesChecker.test.ts
  src/electron/updates/GitHubReleaseUpdatesChecker.ts
  src/features/App/index.tsx
  src/features/App/useAppUpdater.tsx
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: add check before create tags
  src/components/TagEditor/index.tsx
  src/core/features/tags/controller/TagsController.test.ts
  src/core/features/tags/controller/TagsController.ts
  src/core/features/tags/controller/utils.ts
Due: prettier --write, eslint --fix

refactor: change api for cheeks
  src/components/TagEditor/index.tsx
  src/core/features/tags/controller/TagsController.ts
  src/core/features/tags/controller/utils.ts
Due: prettier --write, eslint --fix

refactor: simplify
  src/components/TagEditor/index.tsx
Due: prettier --write, eslint --fix

test: add uuid checks, group tests
  src/core/features/tags/controller/TagsController.test.ts
Due: prettier --write, eslint --fix

refactor: add custom error
  src/components/TagEditor/index.tsx
  src/core/features/tags/controller/TagsController.ts
  src/core/features/tags/controller/utils.ts
Due: prettier --write, eslint --fix

chore: remove unnecessary code
  src/core/features/tags/controller/TagsController.ts
Due: prettier --write, eslint --fix

test: add
  src/core/features/tags/controller/TagsController.test.ts
Due: prettier --write, eslint --fix

fix: reuse query, check workspace id
  src/core/features/tags/controller/TagsController.test.ts
  src/core/features/tags/controller/TagsController.ts
  src/core/features/tags/controller/getTagIdByResolvedName.sql
Due: prettier --write, eslint --fix

chore: update prop type
  src/components/TagEditor/index.tsx
Due: prettier --write, eslint --fix

refactor: remove unique checks to controller
  src/components/TagEditor/index.tsx
  src/core/features/tags/controller/TagsController.test.ts
  src/core/features/tags/controller/TagsController.ts
  src/core/features/tags/controller/getTagIdByResolvedName.sql
  src/core/features/tags/controller/validateTagName.ts
Due: prettier --write, eslint --fix

refactor: rename, improve test
  src/components/TagEditor/index.tsx
  src/core/features/tags/controller/TagsController.test.ts
  src/core/features/tags/controller/TagsController.ts
  src/core/features/tags/controller/validateTagName.ts
Due: prettier --write, eslint --fix

feat: add note lazy load
  src/features/MainScreen/NotesList/index.tsx
  src/features/MainScreen/NotesList/useNoteLazyLoad.tsx
  src/features/NotesContainer/index.tsx
  src/hooks/notes/useUpdateNotes.ts
Due: prettier --write, eslint --fix

feat: update icon
  assets/icons/app.ico
  assets/icons/app.png
  assets/icons/app.svg
Due: none

refactor: request notes by limit
  src/features/MainScreen/NotesList/index.tsx
  src/features/MainScreen/NotesList/useNoteLazyLoad.tsx
  src/hooks/notes/useUpdateNotes.ts
Due: prettier --write, eslint --fix

build: add mask for macOS icons
  scripts/icons/build.ts
  scripts/icons/icon-mask.svg
  scripts/icons/icons.ts
Due: prettier --write, eslint --fix

refactor: improve api, add test
  src/core/features/notes/bookmarks/Bookmarks.test.ts
  src/core/features/notes/bookmarks/BookmarksController.test.ts
  src/core/features/notes/bookmarks/BookmarksController.ts
  src/core/features/notes/controller/NotesController.test.ts
Due: prettier --write, eslint --fix

feat: add bookmarks table
  src/core/features/notes/bookmarks/Bookmarks.test.ts
  src/core/features/notes/bookmarks/Bookmarks.ts
  src/core/features/notes/controller/NotesController.test.ts
  src/core/features/notes/controller/NotesController.ts
  src/core/features/notes/controller/index.ts
  src/core/storage/database/pglite/migrations/index.ts
  src/core/storage/database/pglite/migrations/sql/2_add_bookmarks_tab.sql
Due: prettier --write, eslint --fix

test: fix
  src/core/features/notes/controller/NotesController.test.ts
Due: prettier --write, eslint --fix

feat: add archiving
  src/core/features/notes/controller/NotesController.test.ts
  src/core/features/notes/controller/NotesController.ts
  src/core/features/notes/controller/index.ts
  src/core/storage/database/pglite/migrations/index.ts
  src/core/storage/database/pglite/migrations/sql/3_add_archived_to_notes.sql
Due: prettier --write, eslint --fix

refactor: fix, update code
  src/core/features/notes/controller/BookmarksController.test.ts
  src/core/features/notes/controller/BookmarksController.ts
  src/core/features/notes/controller/NotesController.test.ts
  src/core/features/notes/controller/NotesController.ts
  src/core/storage/database/pglite/migrations/index.ts
  src/core/storage/database/pglite/migrations/sql/4_add_archived_to_notes.sql
  src/core/storage/database/pglite/migrations/sql/5_add_bookmarks_tab.sql
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,js,jsx}
  eslint --fix: any of: *.{ts,tsx,js,jsx}
  stylelint --fix: any of: *.css
  prettier --write --parser markdown: any of: *.{md,mdx}
  prettier --write --parser json: any of: *.json
