Repository vitonsky/deepink: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser markdown, prettier --write --parser json

.lintstagedrc:

{
	"*.{ts,tsx,js,jsx}": [
		"prettier --write",
		"eslint --fix"
	],
	"*.css": [
		"stylelint --fix"
	],
	"*.{md,mdx}": [
		"prettier --write --parser markdown"
	],
	"*.json": [
		"prettier --write --parser json"
	]
}

chore(#33): await close DB before close encryption
  src/app/App/index.tsx
  src/utils/disposable.ts
Due: prettier --write, eslint --fix

chore(#33): remove crypto-js package
  package-lock.json
  package.json
  src/core/encryption/ciphers/Rabbit/index.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: implement PoC for single note export
  src/app/App/MainScreen/NotesList/NoteContextMenu/index.ts
  src/app/App/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
  src/app/App/MainScreen/StatusBar/buttons/useImportNotes.tsx
Due: prettier --write, eslint --fix

refactor: move logic to hook
  src/app/App/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
Due: prettier --write, eslint --fix

refactor: use class instead of hook
  src/app/App/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
Due: prettier --write, eslint --fix

feat: implement saving exported files
  src/app/App/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
  src/electron/requests/files/index.ts
  src/electron/requests/files/main.ts
  src/electron/requests/files/renderer.ts
Due: prettier --write, eslint --fix

feat: replace note urls for export
  src/app/App/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
Due: prettier --write, eslint --fix

feat: add title in metadata
  package-lock.json
  package.json
  src/app/App/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
Due: prettier --write, eslint --fix, prettier --write --parser json

feat: add tags for exported file
  src/app/App/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
Due: prettier --write, eslint --fix

feat: implement export all notes
  src/app/App/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
  src/app/App/MainScreen/StatusBar/index.tsx
Due: prettier --write, eslint --fix

feat: import tags from meta data
  src/app/App/MainScreen/StatusBar/buttons/useImportNotes.tsx
Due: prettier --write, eslint --fix

refactor: introduce NotesExporter file
  src/app/App/MainScreen/NotesList/NoteContextMenu/NotesExporter.ts
  src/app/App/MainScreen/NotesList/NoteContextMenu/useDefaultNoteContextMenu.ts
  src/app/App/MainScreen/StatusBar/index.tsx
Due: prettier --write, eslint --fix

refactor: introduce file with tag utils
  src/app/App/MainScreen/StatusBar/buttons/useImportNotes.tsx
  src/utils/tags.ts
Due: prettier --write, eslint --fix

chore: improve code style
  src/app/App/MainScreen/StatusBar/buttons/useImportNotes.tsx
Due: prettier --write, eslint --fix

refactor: move export button to a file
  src/app/App/MainScreen/StatusBar/buttons/ExportButton.tsx
  src/app/App/MainScreen/StatusBar/index.tsx
  src/app/components/Spinner/Spinner.css
  src/app/components/Spinner/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: update UI package
  package-lock.json
  package.json
Due: prettier --write --parser json

chore: remove dead code
  src/app/App/MainScreen/StatusBar/index.tsx
Due: prettier --write, eslint --fix

feat(#10): add modifiers for icon
  src/app/components/Icon/Icon.bundle/common.tsx
  src/app/components/Icon/_boxSize/Icon_boxSize.tsx
  src/app/components/Icon/_hasGlyph/Icon_hasGlyph.tsx
Due: prettier --write, eslint --fix

feat(#10): override colors
  src/app/App/App.css
Due: stylelint --fix

feat(#10): add sections in navigation
  package-lock.json
  package.json
  src/app/App/MainScreen/MainScreen.css
  src/app/App/MainScreen/NotesList/NotesList.css
  src/app/App/MainScreen/NotesOverview/NotesOverview.css
  src/app/App/MainScreen/NotesOverview/index.tsx
  src/app/App/MainScreen/StatusBar/StatusBar.css
  src/app/App/MainScreen/index.tsx
  src/app/components/List/List.css
Due: prettier --write, eslint --fix, stylelint --fix, prettier --write --parser json

feat(#10): move a button to add note
  src/app/App/App.css
  src/app/App/MainScreen/MainScreen.css
  src/app/App/MainScreen/index.tsx
  src/app/components/Stack/Stack.css
  src/app/components/Stack/Stack.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(#10): update notes list style
  src/app/App/App.css
  src/app/App/MainScreen/MainScreen.css
  src/app/App/MainScreen/NotesList/NotesList.css
  src/app/App/MainScreen/NotesList/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(#10): update notes list style
  src/app/App/App.css
  src/app/App/MainScreen/NotesList/NotesList.css
  src/app/components/List/List.css
Due: stylelint --fix

feat(#10): add lock button
  src/app/App/MainScreen/index.tsx
Due: prettier --write, eslint --fix

feat(#10): improve UI for tabs
  src/app/App/MainScreen/MainScreen.css
  src/app/App/MainScreen/TopBar/TopBar.css
  src/app/App/MainScreen/TopBar/index.tsx
  src/app/App/MainScreen/index.tsx
  src/app/App/NoteEditor/NoteEditor.css
  src/app/components/TabsMenu/_view/TabsMenu_view_primary.css
  src/app/components/TabsMenu/_view/TabsMenu_view_primary.tsx
  src/app/components/TabsMenu/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

feat(#10): add context menu for note
  src/app/App/NoteEditor/NoteEditor.css
  src/app/App/NoteEditor/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(#10): add buttons for note panel
  src/app/App/NoteEditor/NoteEditor.css
  src/app/App/NoteEditor/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(#10): set correct icons size
  src/app/components/Icon/_hasGlyph/Icon_hasGlyph.css
  src/app/components/Icon/_hasGlyph/Icon_hasGlyph.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(#10): rework bottom bar
  src/app/App/MainScreen/StatusBar/StatusBar.css
  src/app/App/MainScreen/StatusBar/index.tsx
  src/app/App/MainScreen/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(#10): update buttons on bottom bar
  src/app/App/MainScreen/StatusBar/index.tsx
Due: prettier --write, eslint --fix

feat(#10): provide buttons from context
  src/app/App/MainScreen/StatusBar/StatusBar.css
  src/app/App/MainScreen/StatusBar/index.tsx
  src/app/App/MainScreen/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(#10): improve status bar API
  src/app/App/MainScreen/StatusBar/index.tsx
  src/app/App/MainScreen/index.tsx
Due: prettier --write, eslint --fix

feat(#10): implement dynamic buttons management
  src/app/App/MainScreen/StatusBar/index.tsx
  src/app/App/MainScreen/index.tsx
  src/app/components/Modal/Modal.bundle/Modal.desktop.ts
  src/app/components/Modal/_view/Modal_view_screen.css
  src/app/components/Modal/_view/Modal_view_screen.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat(#10): introduce hook for first render
  src/app/App/MainScreen/index.tsx
Due: prettier --write, eslint --fix

refactor(#10): move buttons API to another dir
  src/app/App/MainScreen/StatusBar/index.tsx
  src/app/App/MainScreen/index.tsx
  src/app/App/Preferences/Preferences.tsx
  src/app/api/buttons/index.ts
  src/app/api/buttons/useButtonsManager.ts
Due: prettier --write, eslint --fix

refactor(#10): move context
  src/app/App/MainScreen/StatusBar/index.tsx
  src/app/App/MainScreen/index.tsx
  src/app/api/buttons/useButtonsManager.ts
Due: prettier --write, eslint --fix

refactor(#10): update imports
  src/app/App/Preferences/Preferences.tsx
  src/app/api/buttons/ButtonsManager.ts
  src/app/api/buttons/useButtonsManager.ts
Due: prettier --write, eslint --fix

refactor(#10): move useFirstRender
  src/app/App/MainScreen/index.tsx
  src/app/components/hooks/useFirstRender.ts
Due: prettier --write, eslint --fix

feat(#10): implement preferences PoC
  src/app/App/Preferences/Preferences.css
  src/app/App/Preferences/Preferences.tsx
  src/app/components/Modal/_view/Modal_view_screen.css
Due: prettier --write, eslint --fix, stylelint --fix

feat(#10): add button to close window
  src/app/App/Preferences/Preferences.css
  src/app/App/Preferences/Preferences.tsx
Due: prettier --write, eslint --fix, stylelint --fix
